/* header */
#navbar {
  height: var(--h-header);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100vw;
  margin-inline: calc(50% - 50vw);

  text-transform: capitalize;
  --fw: bold;
  font-family: var(--font2);
  z-index: 10;
  padding-inline: var(--margin-global);
  overflow: hidden;
  transition: .5s var(--ease-return);
  background-color: var(--primary);
  overflow: hidden;
  /* box-shadow: inset 0 0 15px 2px hsla(219, 73%, 38%); */
}
@media (max-width: 400px) {
  #navbar {font-size: clamp(12px, 2vw, 14px)}
}

@media (max-width: 430px) {
  #es #navbar {font-size: clamp(11px, 2vw, 14px)}
}
#navbar.style {
  box-shadow: 0 0 4.5px 0 var(--accent);
}

#navbar-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1em, 2vw, 2em);
}

.nav-selector {
  position: absolute;
  top: var(--top);
  left: calc(var(--left) - (var(--margin-global) - 0.4em));
  width: var(--width);
  height: var(--height);

  transition: 250ms var(--ease-return);
  /* box-shadow: inset 0 0 6px 1px var(--active),
              inset 0 0 8px 2px var(--secondary); */
  background: linear-gradient(to bottom, transparent, hsl(0, 63%, 41%));
  transform: scale(1.1);
}

#navbar a {
  font-size: clamp(1em, 1.2vw, 1.2em);
  padding: .5em .8em;
  text-align: center;
  isolation: isolate;
  position: relative;
}

#navbar a::before,
#header a::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: 250ms var(--ease-return);
}
#navbar a::before {
  transform: scaleY(0);
  transform-origin: bottom;
  z-index: -1;
}

#navbar a:is(:hover):not(.active):before {
  transform: scaleY(1);
  background: linear-gradient(to bottom, transparent, hsl(0, 0%, 50%, .5));
  opacity: 1;
}
#navbar a:is(:hover):not(.active):after {
  box-shadow: inset 0 0 6px 1px var(--active),
              inset 0 0 8px 2px var(--secondary);
  opacity: 1;
}
