:root {
  /* // // color // // */
  --primary: #0F0F0F;
  --secondary: #fff;
  --accent: hsl(0, 63%, 41%);
  --active: var(--primary);
  --error: #ff4081;
  --warning: #FFC260;
  --success: #3CD4A0;
  --clr-gradient: linear-gradient(to right top,#356D74,#2A505C,#21394A,#1A293D,#172035,#161D33,#161E34,#192539,#1E3143,#244251,#2D5862,#387378,#449492,#53B9B1,#63E2D2);
  --c: #fff;
  --stroke: var(--stroke-size) var(--stroke-color);
  --stroke-size: none;
  --stroke-color: none;
  --clr-hover: hsl(288 90% 10%);
  /* // // fonts // // */
  --font1: 'Montserrat', sans-serif;
  --font2: 'MontserratMedium', sans-serif;
  --font3: 'MontserratBold', sans-serif;
  --fw: initial;
  /* // // sizes // // */
  --margin-global: 9em;
  --parent: 1600px;
  --subparent: 1900px;
  --h-header: 100px;
  --scroll-size: 1em;
  /* // // shadows // // */
  --sombra-filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.3));
  --sombra-card: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --sombra-btn: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* // // transition // // */
  --ease: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-return: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@media (max-width: 880px) {
  :root {
    /* // // sizes // // */
    --margin-global: clamp(1em, 5vw, 4em)
  }
}
